@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
:root {
    --primary: #FF5274;
    --titles: #3D4351;
    --text: rgba(28,54,83,.6);
}
a {
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
    transition: .4s;
    font-size: 13px;
}
a.title {
    color: var(--primary);
}
a.ancle {
    color: var(--text);
    text-transform: none;
    font-size: 15px; 
}
a.ancle:hover {
    color: #232631;
}
p {
    color: var(--text);
    font-size: 15px;
    line-height: 28px;
}
h2 {
    color: var(--titles);
    font-weight: 600;
    margin-bottom: 15px;
}
.button {
    border: 2px solid #fff;
    padding: 10px 40px;
    border-radius: 25px;
}
.button:hover {
    border-color: var(--primary);
}
a:hover {
    color: var(--primary);
}
body {
    font-family: 'Open Sans', sans-serif;
}
header {
    height: 750px;
    background-color: #282c37;
    background-image: url('../assets/hero.jpg');
    color: #fff;
}
nav {
    position: fixed;
    padding: 0 90px;
    width: 100%;
    transition: .5s;
    z-index: 50;
}
nav.is-down {
    background: #232631;
}
nav.is-down .container {
    border-color: transparent;
    padding: 35px 0;
}
nav .container {
    transition: .5s;
    border-bottom: 1px solid #aaa;
    width: 100%;
    display: grid;
    padding: 50px 0;
    grid-template-columns: 180px 1fr 230px;
    align-items: center;
}
nav ul {
    display: flex;
}
nav ul li {
    list-style: none;
    margin-right: 20px;
}
nav .logs {
    text-align: right;
}
nav .logs a {
    margin-left: 15px;
}
header .description {
    padding: 270px 0;
    text-align: center;
}
header h1 {
    font-size: 60px;
    font-weight: normal;
}
header p {
    color: #fff;
    font-weight: 300;
    font-size: 20px;
    padding-top: 30px;
    padding-bottom: 100px;
}
header .download-sect {
    justify-content: center;
    display: flex;
}
header .download-sect a {
    margin: 0 12px;
    padding: 15px 40px
}
a.button.rose {
    color: var(--primary);
    border-color: var(--primary);
}
a.button.rose:hover, .download-sect a:first-child {
    color: #fff;
    background: var(--primary);
    border-color: var(--primary);
}
.download-sect a:first-child:hover {
    background: #f53d61;
    border-color: #f53d61;
}
.second {
    display: grid;
    padding: 120px 100px;
    width: 100%;
    grid-template-columns:repeat(3, 1fr);
}
.item {
    font-size: 14px;
    display: flex;
    padding: 20px;
}
.item span {
    color: var(--primary);
    font-size: 35px;
    margin-right: 25px;
}
.item h3 {
    color: var(--titles);
    font-weight: 400;
    margin-bottom: 10px;
}
.item p {
    line-height: 30px;
    color: var(--text);
}
.features {
    padding-top: 150px;
    background: #f3f4f8;
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.features .devices {
    height: 100%;
    overflow: hidden;
    position: relative;
}
.features .devices img {
    position: absolute;
}
.features .devices .first {
    right: 140px;
}
.features .devices .twice {
    right: 20px;
    top: 270px;
}
.features .description {
    padding: 0 100px;
}

.features .description h2 {
    color: var(--titles);
}
.features .description > p {
    margin-bottom: 40px;
}
.features .description .item {
    padding: 25px 0;
    padding-right: 80px;
}
.features .description .item:nth-child(2) {
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
}
.assets {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 80px 0;
}
.assets .description {
    padding: 0 100px;
}
.assets .description p {
    margin-bottom: 40px;
}
.assets .image {
    overflow: hidden;
    height: 550px;
    position: relative;
}
.assets .image img {
    position: absolute;
    left: 20px;
}
section.diamond {
    color: #fff;
    display: flex;
    align-items: center;
    flex-direction: column;
    position: relative;
    padding-top: 100px;
    height: 450px;
    background-size: cover;
    background-image: url(../assets/polygonal-bg.jpg);
}
section.diamond h1{
    font-weight: 400;
    font-size: 35px;
    margin-bottom: 20px;
}
section.diamond p {
    color: #ACB1B4;
    margin-bottom: 40px;
}
section.diamond img {
    margin-top: 60px;
}

/* *************** BLOG SECTION ****************** */

section.blog {
    padding: 170px 20px;
    background: #f3f4f8;
    padding-bottom: 100px;
}
section.blog .description {
    padding: 0 90px;
}
section.blog h2 {
    font-weight: 400;
    margin-bottom: 50px;
}
section.blog .divide {
    display: grid;
    grid-template-columns: 1fr 1fr;
}
section.blog .divide .item {
    flex-direction: column;
    padding: 0;
    padding-bottom: 30px;
}
section.blog .divide .item:first-child {
    padding-right: 80px;
    border-right: 1px solid #ddd;
}
section.blog .divide .item:last-child {
    padding-left: 80px;
}

/* *************** GALLERY SECTION ****************** */

.gallery {

   margin-top: 120px;
   display: grid;
   grid-template-columns: repeat(3, 1fr);
   grid-gap: 35px; 
}
.gallery .g-item {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.gallery .g-item .photo {
    width: 100%;
    margin-bottom: 30px;
    overflow: hidden;
    position: relative;
}
.gallery .g-item .photo img {
    width: 100%;
    transition: .4s;
}
.gallery .g-item .photo .mask {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    cursor: pointer;
    justify-content: flex-end;
    padding: 20px 35px;
    background: rgba(255, 255, 255, .5);
    opacity: 0;
    transition: .4s;
}
.gallery .g-item .photo:hover .mask{
    opacity: 1;
}
.gallery .g-item .photo:hover img {
    transform: scale(1.2);
}
.search {
    color: #fff !important;
}
.gallery .g-item a {
    margin-bottom: 10px;
}
section.blog .btn-container {
    display: flex;
    justify-content: center;
    margin-top: 40px;
}

/* *************** SLIDER SECTION ****************** */

section.slider-container {
    overflow: hidden;
    width: 100%;
    height: 450px;
    background-size: cover;
    position: relative;
    background-image: url('../assets/testimonials-bg.jpg');
}
/* section.slider-container > div {
    display: flex;
    align-items: center;
    justify-content: center;
} */
section.slider-container .slider {
    text-align: center;
}
section.slider-container .slider .s-item div {
    display: flex;
    align-items: center;
    justify-content: center;
}
section.slider-container .slider .s-item img {
    border-radius: 50%;
    height: 90px;
    width: 90px;
    border: 3px solid #fff;
}
section.slider-container .slider .s-item h2 {
    color: #fff;
    font-weight: 300;
    margin: 20px 0;
    font-style: italic;
    font-size: 40px;
}
section.slider-container .slider .s-item h3 {
    font-weight: 300;
    text-transform: uppercase;
    color: #ACB1B4;
    font-size: 16px;
}
@media only screen and (max-width: 1200px) {
    .second {
        padding: 120px 20px;
    }
    .features .description {
        padding: 0 50px;
        padding-bottom: 60px;
    }
    .assets .description {
        padding-left: 30px;
    }
    section.blog .description {
        padding: 0;
    }
}
@media only screen and (max-width: 990px) {
    .second {
        padding: 90px 100px;
        grid-template-columns: 1fr;
    }
    .features {
        padding: 50px;
        padding-bottom: 0;
        grid-template-columns: 1fr;
    }
    .features .devices {
        display: none;
    }
    .assets {
        grid-template-columns: 1fr;
        padding: 80px 140px;
    }
    .assets .description {
        padding: 0;
    }
    .assets .image {
        display: flex;
        margin-top: 80px;
        justify-content: center;
        height: auto;
        align-items: center;
        padding: 50px 0;
    }
    .assets .image img {
        position: initial;
        width: 100%;
    }
    section.blog .description{
        padding: 0 100px;
    }
    section.blog .description .divide {
        grid-template-columns: 1fr;
    }
    section.blog .description .divide .item {
        border: 0;
        margin-bottom: 50px;
        padding: 0;
    }
    section.blog .gallery {
        grid-template-columns: 1fr;
    }
}